  /*===top style start ===*/
  .top-sec{
	  background-color:pink;
	  height:80px;
	  
  }
  .title-sec{
	  background-color:red;
	  height:30px;
  }
  .navbar-sec{
	  background-color:red;
	  height:30px;
  }
  .btn-sec{
	  background-color:red;
	  height:30px;
  }
  /*===header start===*/
  .header-sec{
	   background-color:orange;
	    height:400px;
  }
  .header-title{
	   background-color:red;
	    height:300px;
  }
  /*===client-sec start===*/
   .client-sec{
	   background-color:pink;
	    height:200px;
  }
  .client-1{
	   background-color:red;
	    height:80px;
  }
  /*===about-sec start===*/
   .about-sec{
		position:relative;
	  padding:50px 0;
  }
   .about-sec:after{
	   content:"";
	   position:absolute;
	  height:100%;
	  width:100%;
	  left:0;
	  top:0;
	   background-color:orange;
	   transform:skewY(-3deg);
	   z-index:-1;
   }
  .about-content{
	   background-color:red;
	    height:250px;
  }
  .about-items{
	   background-color:red;
	    height:100px;
  }
  /*===display-sec start===*/
   .display-sec{
	   background-color:pink;
		padding:60px 0;
  }
  .display-items{
	   background-color:red;
	    height:130px;
  }
  /*===system-sec start===*/
   .system-sec{
	   background-color:orange;
		padding:60px 0;
  }
  .system-items{
	   background-color:red;
	    height:150px;
  }
  .system-content{
	   background-color:red;
	    height:350px;
  }
  /*==service-sec start===*/
   .service-sec{
		position:relative;
		padding:40px 0;
  }
   .service-sec:after{
	   content:"";
	   position:absolute;
	  height:100%;
	  width:100%;
	  left:0;
	  top:0;
	   background-color:pink;
	   transform:skewY(-3deg);
	   z-index:-1;
   }
  .sec-title{
	   background-color:red;
	    height:100px;
  }
  .service-items{
	   background-color:red;
	    height:100px;
  }
  /*===portfolio-sec start===*/
   .portfolio-sec{
	   background-color:orange;
		padding:50px 0;
  }
  .sec-title{
	   background-color:red;
	    height:100px;
  }
  .folio-items{
	   background-color:red;
	    height:200px;
  }
  /*===testmonials-sec start===*/
   .testmonials-sec{
	   background-color:pink;
	    height:700px;
		padding:50px 0;
  }
  .sec-title{
	   background-color:red;
	    height:100px;
  }
  .testmonials-items{
	   background-color:red;
	    height:400px;
  }
   /*===price-sec start===*/
   .price-sec{
		position:relative;
		padding:50px 0;
  }
  .price-sec:after{
	   content:"";
	   position:absolute;
	  height:100%;
	  width:100%;
	  left:0;
	  top:0;
	   background-color:orange;
	   transform:skewY(-3deg);
	   z-index:-1;
   }
  .sec-title{
	   background-color:red;
	    height:100px;
  }
  .money-items{
	   background-color:red;
	    height:400px;
  }
   /*===para-sec start===*/
   .para-sec{
	    background-color:pink;
		padding:50px 0;
  }
  
  .sec-title{
	   background-color:red;
	    height:50px;
  }
  .para-title{
	   background-color:red;
	    height:70px;
  }
    /*===team-sec start===*/
   .team-sec{
	   position:relative;
		padding:50px 0;
  }
  .team-sec:after{
	   content:"";
	   position:absolute;
	  height:100%;
	  width:100%;
	  left:0;
	  top:0;
	   background-color:orange;
	   transform:skewY(-3deg);
	   z-index:-1;
  }
  .sec-title{
	   background-color:red;
	    height:100px;
  }
  .team-items{
	   background-color:red;
	    height:350px;
  }
   /*===contact-sec start===*/
   .contact-sec{
	   background-color:pink;
		padding:60px 0;
  }
  .sec-title{
	   background-color:red;
	    height:100px;
  }
  .contact-info{
	   background-color:red;
	    height:200px;
  }
   .contact-form{
	   background-color:red;
	    height:400px;
  }
  
  
   /*==footer-sec start===*/
   .footer-sec{
	   background-color:orange;
		padding:50px 0;
  }
  .sec-title{
	   background-color:red;
	    height:100px;
  }
  .footer-items{
	   background-color:red;
	    height:300px;
  }
  /*==finish-sec start===*/
   .finish-sec{
	   background-color:pink;
		padding:20px 0;
  }
  
  .finish-content{
	   background-color:red;
	    height:80px;
  }
  